body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(45, 45, 45);
  color: rgb(235, 235, 235);
  user-select: none;
}

.game-container {
  position: relative;
  width: 95%;
  margin: 50px auto;
  max-width: 1024px;
  height: 650px;
  box-shadow: 1px 1px 6px 1px black;
  overflow: hidden;
}

.canvas-container {
  width: 100%;
  height: 100%;
}

.display {
  background: url(./assets/space.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.damage-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  background-color: rgba(255, 0, 0, 0.5);
  display: none;
}

.damaged {
  display: block;
}

.bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 1.5rem;
  padding: 5px 3px;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.3);
}

.earth {
  position: absolute;
  width: 4000px;
  bottom: -3850px;
  left: 50%;
  transform: translateX(-50%);
}

.earth-img {
  width: 100%;
}

.menu-container {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  transition: opacity 0.5s;
  font-size: 2rem;
}

.menu {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
}

.main {
  transition: display 0.5s;
}

.gameover {
  display: none;
}

.leaderboard {
  display: none;
  height: 500px;
}

.score-list {
  height: 320px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 80%;
  overflow-y: scroll;
}

.list-header {
  font-weight: bold;
}

.score-list li {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.leaderboard-score {
  border-bottom: 1px solid rgb(235, 235, 235);
}

.leaderboard-score:nth-child(odd) {
  background-color: rgba(150, 150, 150, 0.2);
}

.title {
  font-size: 4rem;
  margin-bottom: 50px;
}

.end-title {
  font-size: 4rem;
  margin-bottom: 30px;
}

.menu-btn {
  background: transparent;
  margin-top: 60px;
  color: rgb(235, 235, 235);
  border: none;
  font-size: 1.7rem;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 10px 5px;
  transition: color 0.2s;
}

.menu-btn:focus {
  outline: none;
}

.menu-btn:hover {
  color: red;
  border-color: red;
  cursor: pointer;
}

.final-score {
  margin-bottom: 30px;
}

.score {
  margin-top: 50px;
  font-size: 2rem;
}
